@import "@/styles/mixins/media";

.bgFilter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255 255 255 / 15%);
  backdrop-filter: blur(5px);
}

.modalDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 400px;
  height: fit-content;
  margin-bottom: 30px;
  padding: 25px;
  background: var(--card-gradient);
  border: var(--card-outline) 1px solid;
  border-radius: 15px;
  box-shadow: var(--shadow);

  @include media(mobile) {
    margin: 0 var(--global-padding);
  }
}

.modalContentDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  height: 100%;
  text-wrap: pretty;

  p {
    color: var(--text-gray);
    font-size: 14px;
    line-height: 130%;
  }

  a {
    color: var(--accent);
    font-size: 14px;
    transition: filter 200ms ease-out;
    text-underline-offset: 3px;

    &:hover {
      text-decoration: underline;
      filter: brightness(1.2);
    }
  }

  @include media(mobile) {
    p {
      font-size: 12px;
    }
  }
}

.modalHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 10px;

  .modalHeader {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;

    @include media(mobile) {
      font-size: 16px;
    }
  }
}

.modalBtn {
  display: flex;
  align-self: center;
  width: fit-content;
  margin-top: 10px;
  padding: 5px 20px;
  color: var(--text-light);
  font-size: 14px;
  background-color: var(--text);
  border-radius: 30px;
  transition: background-color 200ms ease-out;

  &:hover {
    background-color: var(--accent);
  }
}